.container-appointmentApp{
    background-image: url(https://www.doctolib.fr/webpack/dbc7e3783faf0a118a3f116f8cd78059.svg);
    background-repeat: no-repeat;
    background-position-y: 0px;
    background-position: right;
    min-height: 85vh;
}
.container-appointmentApp>h5{
    color: #435f71;
    text-align: center;
    margin:20px;
    width: 65%;
    line-height: 1.7;
}
h5>h6{
    color: gray;
}

.stepper{
    width: 80%;
}